<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spms.dao.MemberDao">
	<select id="selectList" resultType="member">
		select
		  MNO as no,
		  MNAME as name,
		  EMAIL,
		  TEL,
		  AGE
		from MEMBERS
	</select>
	
	<select id="selectOne" parameterType="int" resultType="member">
    select
      MNO as no,
      MNAME as name,
      EMAIL,
      TEL,
      AGE
    from MEMBERS
    where MNO=#{value}
  </select>
  
  <delete id="delete" parameterType="int">
    delete from MEMBERS where MNO=#{no}
  </delete>
  
  <insert id="insert" parameterType="member">
    INSERT INTO MEMBERS(MNAME,EMAIL,TEL,AGE) 
    VALUES(#{name},#{email},#{tel},#{age})
  </insert>
  
  <update id="update" parameterType="member">
    update MEMBERS set 
      MNAME=#{name},
      EMAIL=#{email},
      TEL=#{tel},
      AGE=#{age} 
    where MNO=#{no}
  </update>
  
  <select id="selectByEmailPassword" 
      parameterType="map" 
      resultType="member">
    select MNO as no,MNAME as name,EMAIL
    from MEMBERS
    where EMAIL=#{email} and PWD=#{password}
  </select>
</mapper>















