<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spms.dao.ExcelDao">

	<resultMap type="excel" id="excelResultMap">
		<id property="trcno" column="TRCNO" />
		<result property="orderNo" column="ORDER_NO" />
		<result property="state" column="STATE" />
		<result property="office" column="OFFICE" />
		<result property="member" column="MEMBER" />
		<result property="receiveDate" column="RECEIVE_DATE" />
		<result property="deliverDate" column="DELIVER_DATE" />
		<result property="deliverEndDate" column="DELIVER_END_DATE" />
		<result property="senderName" column="SENDER_NAME" />
		<result property="senderAddr" column="SENDER_ADDR" />
		<result property="senderTel1" column="SENDER_TEL1" />
		<result property="senderTel2" column="SENDER_TEL2" />
		<result property="receiverName" column="RECEIVER_NAME" />
		<result property="receiverAddrDo" column="RECEIVER_ADDR_DO" />
		<result property="receiverAddrKoo" column="RECEIVER_ADDR_KOO" />
		<result property="receiverAddrDong" column="RECEIVER_ADDR_DONG" />
		<result property="receiverAddrRoad" column="RECEIVER_ADDR_ROAD" />
		<result property="receiverAddrBun" column="RECEIVER_ADDR_BUN" />
		<result property="receiverAddrJi" column="RECEIVER_ADDR_JI" />
		<result property="receiverAddrName" column="RECEIVER_ADDR_NAME" />
		<result property="receiverTel1" column="RECEIVER_TEL1" />
		<result property="receiverTel2" column="RECEIVER_TEL2" />
		<result property="sendPoint" column="SEND_POINT" />
		<result property="receivePoint" column="RECEIVE_POINT" />
		<result property="packing" column="PACKING" />
		<result property="productName" column="PRODUCT_NAME" />
		<result property="count" column="GOODS_COUNT" />
		<result property="size" column="GOODS_SIZE" />
		<result property="weight" column="WEIGHT" />
		<result property="payment" column="PAYMENT" />
		<result property="pay" column="PAY" />
		<result property="date" column="TODAY_DATE" />
		<result property="returnBox" column="RETURN_BOX" />
		<result property="boxState" column="BOX_STATE" />
		<result property="id" column="ID" />
		<result property="lat" column="LAT" />
		<result property="lng" column="LNG" />
	</resultMap>
  
	<delete id="delete">
		TRUNCATE `spmsdb`.`EXCEL_UPLOAD`
	</delete>
<!-- 	<insert id="addLatLngs" parameterType="list">
	 INSERT INTO EXCEL_UPLOAD (TRCNO,LAT,LNG)
	 VALUES
	 <foreach item="excel" collection="list">
	 </foreach>
	  (
    #{excel.lat}, 
    #{excel.lng}
    )
	</insert> -->

<!-- <update id="addLatLngs" parameterType="list">
	<foreach item="excel" collection="list" index="index" separator=";">
		UPDATE EXCEL_UPLOAD SET 
			LAT=#{excel.lat}, 
			LNG=#{excel.lng} 
    WHERE TRCNO=#{excel.trcno}
	</foreach>
</update> -->


	
	<insert id="addExcel" parameterType="list">
		INSERT INTO EXCEL_UPLOAD (
		TRCNO, 
		ORDER_NO, 
		OFFICE, 
		RECEIVE_DATE, 
		DELIVER_DATE,
		SENDER_NAME,  
		SENDER_ADDR,  
		SENDER_TEL1, 
		SENDER_TEL2, 
		RECEIVER_NAME, 
		RECEIVER_ADDR_DO, 
		RECEIVER_ADDR_KOO, 
		RECEIVER_ADDR_DONG, 
		RECEIVER_ADDR_ROAD, 
		RECEIVER_ADDR_BUN, 
		RECEIVER_ADDR_JI, 
		RECEIVER_ADDR_NAME, 
		RECEIVER_TEL1, 
		RECEIVER_TEL2, 
		SEND_POINT, 
		RECEIVE_POINT, 
		PACKING, 
		PRODUCT_NAME, 
		GOODS_COUNT, 
		GOODS_SIZE, 
		WEIGHT, 
		PAYMENT, 
		PAY, 
		RETURN_BOX) VALUES
		<foreach item="excel" collection="list" separator=",">
			(
		  #{excel.trcno}, 
			#{excel.orderNo}, 
			#{excel.office}, 
			#{excel.receiveDate}, 
			#{excel.deliverDate}, 
			#{excel.senderName}, 
			#{excel.senderAddr}, 
			#{excel.senderTel1}, 
			#{excel.senderTel2}, 
			#{excel.receiverName}, 
			#{excel.receiverAddrDo}, 
			#{excel.receiverAddrKoo}, 
			#{excel.receiverAddrDong}, 
			#{excel.receiverAddrRoad}, 
			#{excel.receiverAddrBun}, 
			#{excel.receiverAddrJi}, 
			#{excel.receiverAddrName}, 
			#{excel.receiverTel1}, 
			#{excel.receiverTel2}, 
			#{excel.sendPoint}, 
			#{excel.receivePoint}, 
			#{excel.packing}, 
			#{excel.productName}, 
			#{excel.count}, 
			#{excel.size}, 
			#{excel.weight}, 
			#{excel.payment}, 
			#{excel.pay}, 
			#{excel.returnBox}) 
		</foreach>
	</insert>

	<select id="selectList" resultMap="excelResultMap">
		select
		TRCNO, 
    ORDER_NO, 
    OFFICE, 
    RECEIVE_DATE, 
    DELIVER_DATE,
    SENDER_NAME,  
    SENDER_ADDR,  
    SENDER_TEL1, 
    SENDER_TEL2, 
    RECEIVER_NAME, 
    RECEIVER_ADDR_ROAD, 
    RECEIVER_TEL1, 
    RECEIVER_TEL2, 
    SEND_POINT, 
    RECEIVE_POINT, 
    PACKING, 
    PRODUCT_NAME, 
    GOODS_COUNT, 
    GOODS_SIZE, 
    WEIGHT, 
    PAYMENT, 
    PAY, 
    RETURN_BOX, 
    LAT, 
    LNG  
		from EXCEL_UPLOAD
	</select>
	<select id="selectAddr" resultMap="excelResultMap">
	  select
	  TRCNO, 
    RECEIVER_ADDR_ROAD 
    from EXCEL_UPLOAD
	</select>
</mapper>